body{
	font-family: Arial, Sans-Serif;
}

a, a:visited{
	text-decoration: none;
	color: #666;
}

a:hover{
	color: #666;

}

a:active{
	color: #1f1f1f;
}


header{
	background: #f1f1f1;
	border-bottom: 1px solid #e4e4e4;
	margin: 0 0 60px 0; 
	height: 75px;
	padding: 0 20px;
}

header h1 a{
	font-size: 46px;
	font-family: 'Myriad Pro', Arial, Sans-Serif;
	font-weight: normal;
	float: left;
	margin: 10px 0 0 0;
}

#top_bar{
	background: #444;
	border-bottom: 1px solid #e5e5e5;
	height: 25px;
	padding: 0 20px;
	font-size: 11px;
	color: #ccc;
}

#top_bar ul{
	float: left;
	list-style: none;
	margin: 5px 0 0 0; 
}

#top_bar ul li{
	margin: 0 15px 0 0; 	
	float: left;
}

#top_bar ul li a{
	color: #ccc;
	display: block;
}

#top_bar ul li a:hover{
	color: #fff;
}

.auth{
	float: right;
	margin: 5px 0 0 0;
} 

.auth a{
	color: #ccc;
}

.auth a:hover{
	color: #fff;
}

nav{
	float: right;
	margin: 24px 0 0 0; 
}

nav ul{
	list-style: none;
}

nav ul li{
	float: left;
	display: inline;

}

nav ul li a{
	margin: 0 10px;
	padding: 5px;
	display: block;
	font-family: 'Myriad Pro', Arial, Sans-Serif;
	font-size: 18px;
	color: #999;
}

nav ul li a:last-child{
	margin-right: 0 !important;
}

#container{ 
	padding: 0 60px; 
}

.models_list{
	list-style: none;
	clear: both;
	overflow: hidden;
	margin: 0;
	padding: 0;
}

.models_list li{
	float: left;
	margin: 5px;
	padding: 3px;
	float: left;
	width: 175px;
	border-radius: 0 0 3px 3px;
}

.models_list li:hover{ 
}

.models_list .model-name{
	display: block;
	padding: 0 3px;
}



.btn, .actions input{
	clear: both;
	overflow: hidden;
	background: #2d2d2d;
	padding: 10px;
	color: #fff !important;
	text-transform: uppercase; 
	border-radius: 3px;
	font-weight: bold;
	box-shadow: 0 0 5px #565656;
	border: none !important;
}

.btn:hover, .actions input:hover{
	background: #333;
}

.btn:active, .actions input:active{
	background: #222;
}

.new_model{
	margin: 20px 0 0 0;
	float: left; 
}


#container h1{
	font-size: 46px;
	font-family: 'Myriad Pro', Arial, Sans-Serif;
	font-weight: normal;
	text-align: center; 
	color: #999;
	margin: 0 0 40px 0; 
}

#container h2{	
	font-size: 32px;
	font-family: 'Myriad Pro', Arial, Sans-Serif;
	font-weight: normal; 
	color: #999;
	margin: 0 0 40px 0; 
}
	 



footer{
	display: none !important;
	clear: both;
	overflow: hidden; 
	width: 100%;
	text-align: center;
	margin: 30px 0;
	font-size: 11px;
	color: #aaa;
}
  

form input, form text-area{
	padding: 5px;
	border-radius: 3px;
	border: 1px solid #d5d5d5; 
	color: #999;
	font-size: 16px;
	font-family: Arial, Sans-Serif;
}

form label{
	margin: 0 0 5px 0; 
	font-size: 16px;
	font-weight: bold;
	color: #444;
	font-family: Arial, Sans-Serif;
	text-transform: none;
}

form .field{
	margin: 0 0 15px 0;
}

#name_dropdown{
	float: left;  
	padding: 5px;
	width: 200px;
	border: 1px solid #d5d5d5;
} 

#content{
	width: 650px;
	margin: 0 auto 0 auto;
	padding: 40px 0 0 0;
	clear: both;
	overflow: hidden;
}

#content h3{
	font-size: 22px;
	font-style: italic;
}

.photo{
	float: right;
}

.photo_caption{
	float: right;
	font-size: 12px;
	font-family: Arial, Sans-Serif;
	text-transform: none;
	clear: right;
	margin: 5px 85px 0 0;
	color: #999;
}

#content ul{
	list-style: none;
	margin: 100px 0 0 0;
	padding: 0;
	width: 300px;
}

#content ul li{
	margin: 0 0 15px 0;
}

#content ul li .label{ 
	width: 120px !important;
	float: left;
}

#user_new input{
	margin: 0 0 10px 0;
}

#user_new #user_remember_me{
	margin: 0 !important;
}

#user_new .btn{
	margin: 15px 0 0 0;
}

table td, table th{
	padding: 5px;
}

.hidden{ display: none; }

#profile, #portfolio, #contact_info, #account_settings{ 
	text-transform: uppercase;
	color: #999;
	font-size: 18px;
	font-family: 'Myriad Pro', Arial, Sans-Serif;
}
 
.content_bot{
	clear: both;
	overflow: hidden;
	margin: 60px 0 20px 0;
}

.crud{ 
	float: right;
	margin: 7px 0 0 0;
}


.tab_nav{
	list-style: none;
	margin: 0 auto;
	width: 450px;
	text-transform: uppercase;  
	overflow: display; 
	height: 30px !important;
}

.tab_nav li{
	float: left;
	margin: 0 1px 0 0;
}

.tab_nav li a{
	color: #999;
	outline: none; 
	padding: 7px 20px;
	display: block;
}

.tab_nav li a:active, .tab_nav .active a{
	text-align: center;
	color: #fff; 
}

.tab_nav .active, .tab_nav li:active{
	background: #999;  
} 